{% extends '_base_layout.html' %}

{% block titulo %}{{ titulo_de_la_pagina }}{% endblock %}

{% block contenido %}

<header>
	<div class="logo">
		<img src="{{ url_for('static', filename='images/logo-mini-blanco.png') }}" alt="dialyscare" class="mini">
		<img src="{{ url_for('static', filename='images/logo-texto-blanco.png') }}" alt="dialyscare" class="md-none">
	</div>
	<div class="user-data">
		<i class="fas fa-user"></i>&nbsp;&nbsp;<span class="md-none">&nbsp;</span><strong>{{ nombre_de_usuario }}</strong>
		<button onclick="window.location='{{ url_for('logout') }}'"><i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;&nbsp;<span class="md-none">Salir del sistema</span></button>
	</div>
</header>
<div class="container">
	<aside>
		<nav>
			<ul>
				<li{% if request.url_rule.endpoint == "inicio" %} class="active"{% endif %}><a href="{{ url_for('inicio') }}" title="Inicio"><span class="icon"><i class="fas fa-table fa-lg"></i></span><span class="md-none">Inicio</span></a></li>
				<li{% if "pacientes" in request.url_rule.endpoint %} class="active"{% endif %}><a href="{{ url_for('pacientes') }}" title="Pacientes"><span class="icon"><i class="fas fa-users fa-lg"></i></span><span class="md-none">Pacientes</span></a></li>
				<li{% if "sesiones" in request.url_rule.endpoint %} class="active"{% endif %}><a href="{{ url_for('sesiones') }}" title="Sesiones"><span class="icon"><i class="fas fa-notes-medical fa-lg"></i></span><span class="md-none">Sesiones</span></a></li>
				<li><a href="" title="Agenda semanal"><span class="icon"><i class="fas fa-calendar-alt fa-lg"></i></span><span class="md-none">Agenda semanal</span></a></li>
				<li{% if "capilares" in request.url_rule.endpoint %} class="active"{% endif %}><a href="{{ url_for('capilares') }}" title="Capilares"><span class="icon"><i class="fas fa-prescription-bottle fa-lg"></i></span><span class="md-none">Capilares</span></a></li>
				<li{% if "usuarios" in request.url_rule.endpoint %} class="active"{% endif %}><a href="{{ url_for('usuarios') }}" title="Usuarios"><span class="icon"><i class="fas fa-user-lock fa-lg"></i></span><span class="md-none">Usuarios</span></a></li>
				<li><a href="" title="Salas y puestos"><span class="icon"><i class="fas fa-sitemap fa-lg"></i></span><span class="md-none">Salas y puestos</span></a></li>
				<li><a href="" title="Configuración"><span class="icon"><i class="fas fa-cog fa-lg"></i></span><span class="md-none">Configuración</span></a></li>
			</ul>
		</nav>

		<a href="" title="Agenda de pesaje"><span class="icon"><i class="fas fa-calendar-check fa-lg"></i></span><span class="md-none">Agenda de pesaje</span></a>
	</aside>
	<main>
		{% block contenido_de_la_seccion %}{% endblock %}
	</main>
</div>

{% endblock %}
