{% from 'macros.html' import render_btn_pac_list %} {% extends '_base_layout_admin.html' %} {% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Capilares</h1>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="container">
    <a href="" class="button"><i class="fas fa-user-plus"></i><span class="md-none">&nbsp;&nbsp; Agregar capilar</span></a>

    <div class="searchBox">
        <form>
            <select name="filtrar">
				<option>Filtrar</option>
			</select>
            <input name="Numero o paciente" placeholder="Numero o paciente">
            <button>Buscar</button>
        </form>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>Número</th>
                <th class="md-none">Paciente</th>
                <th class="md-none">Tipo</th>
                <th class="md-none">Volumen Mínimo</th>
                <th class="lg-none">Volumen Residual</th>
                <th>Reusos</th>
                <th class="lg-none">Última Acción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="md-none">Pérez Rosas José María</td>
                <td class="md-none">1</td>
                <td class="md-none">100</td>
                <td class="lg-none">50</td>
                <td>2</td>
                <td class="lg-none">Lavado</td>
                <td class="nowrap">
                    <a href="" class="button" title="Imprimir etiqueta"><i class="fa fa-print"></i><span class="xl-none">&nbsp;&nbsp;Imprimir etiqueta</span></a>
                    <a href="" class="button" title="Ver más"><i class="fa fa-address-card"></i><span class="xl-none">&nbsp;&nbsp;Ver más</span></a>
                    <a href="" class="button" title="Agregar acción"><i class="fas fa-plus"></i></i><span class="xl-none">&nbsp;&nbsp;Agregar acción</span></a>
                    <a href="" class="button" title="Eliminar"><i class="fas fa-eraser"></i><span class="xl-none">&nbsp;&nbsp;Eliminar</span></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="center">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>




<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}