{% extends '_base_layout.html' %}

{% block titulo %}Iniciar sesión{% endblock %}

{% block contenido %}

<div class="login-link-balanza">
	<a href="#"><i class="far fa-calendar-check"></i>&nbsp;&nbsp; Agenda de pesaje</a>
</div>

<div class="login-container">
	<div class="logo">
		<img src="static/images/logo-login.png" alt="dialyscare">
	</div>
	<div class="form">
		<h1>Iniciar sesión</h1>
		<form action="{{ url_for('login') }}" method="POST">
			{{ form.hidden_tag() }}
			<section>
				{{ form.usuario(oninvalid="this.setCustomValidity('Debes ingresar un usuario')", oninput="this.setCustomValidity('')") }}

				{% if form.usuario.errors %}
				<ul class="errors">
					{% for error in form.usuario.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</section>
			<section>
				{{ form.clave(oninvalid="this.setCustomValidity('Debes ingresar una contraseña')", oninput="this.setCustomValidity('')") }}

				{% if form.clave.errors %}
				<ul class="errors">
					{% for error in form.clave.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</section>
			{{ form.submit }}
		</form>
		<p>¿Problemas para ingresar?<br><a href="#">Contactar al administrador</a></p>
	</div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="login-messages">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
