{% macro render_field(field) %}

    <div class = "field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notificacion error">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <div>
            <label>
                {{ field.label.text }}
                {{ field() }}
            </label>
        </div>
    </div>
{% endmacro %}
{% macro render_btn_pac_list() %}
    <a href="{{ url_for('pacientes_ver') }}" class="button" ><i class="fa fa-plus"></i>&nbsp;&nbsp;Ver más</a>

		    	<a href="{{ url_for('pacientes_editar') }}" class="button"><i class="fa fa-user-edit"></i>&nbsp;&nbsp;Editar</a>
				
                <a href="{{ url_for('pacientes') }}" class="button"><i class="fa fa-user-times"></i>&nbsp;&nbsp;Deshabilitar</a>
{% endmacro %}