{% extends '_base_layout_admin.html' %}

{% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Agregar paciente</h1>

<div class="container">
	<form>
		<fieldset>
			<legend>Datos personales</legend>
			<div>
				<label>
					Nombres
					<input type="text" id="Nombre" name="nombre" required />
				</label>
			</div>
			<div>
				<label>
					Apellidos
					<input type="text" id="apellido" name="apellido" required>
				</label>
			</div>
			<div>
				<label>
					E-mail
					<input type="email" id="e-mail" name="e-mail" required>
				</label>
			</div>
			<div>
				<label>
					Dirección
					<input type="text" id="dirección" name="dirección" required>
				</label>
			</div>
			<div>
				<label>
					Localidad
					<input type="text" id="localidad" name="localidad" required>
	
				</label>
	
			</div>
			<div>
				<label>
					Departamento
					<input type="text" id="departamento" name="departamento" required>
				</label>
			</div>
			<div>
				<label>
					País
					<input type="text" id="país" name="país" required>
				</label>
			</div>
			<div>
				<label>
					C.I.
					<input type="text" id="c.i." name="c.i." required>
				</label>
			</div>
			<div>
				<label>
					Teléfono 1
					<input type="text" id="telefono 1" name="telefono1" required>
				</label>
			</div>
			<div>
				<label>
					Teléfono 2
					<input type="text" id="telefono 2" name="telefono 2">
				</label>
			</div>
			<div>
				<label>
					Teléfono 3
					<input type="text" id="telefono 3" name="telefono 3">
					<input type="text">
				</label>
			</div>
			<div>
				<label>
					Fecha de nacimiento
					<input type="date" id="fecha de nacimiento" name="fecha de nacimiento" required>
				</label>
			</div>
			<div>
				<legend>Sexo</legend>
				<label><input type="radio" name="gender"> Hombre</label>
				<label><input type="radio" name="gender"> Mujer</label>
				<label><input type="radio" name="gender"> Otro</label>
			</div>
			<div>
				<label>
					Obsevaciones
					<textarea name="obsevaciones" rows="3"></textarea>
				</label>
			</div>
		</fieldset>
		<fieldset>
			<form>
				<legend>Datos Clinicos</legend>
				<div>
					<label>
						Médico Tratante
						<input type="text" id="medico tratante" name="medico tratante">
					</label>
				</div>
				<div>
					<label>
						Enfermero Responsable
						<input type="text" id="enfermero responsable" name="enfermero responsable">
					</label>
				</div>
				<div>
					<label for="country">Mutualista</label>
					<select name="country" id="country">
						<option value="ASSE">ASSE</option>
						<option value="Comero">Comero</option>
						<option value="Medica Uruguaya">Medica Uruguaya</option>
					</select>
				</div>
				<div>
					<label for="country">Tipo de Paciente</label>
					<select name="country" id="country">
						<option value="Agudo">Agudo</option>
						<option value="Ambulatorio">Ambulatorio</option>
						<option value="Estable">Estable </option>
						<option value="Transitorio">Transitorio </option>
						<option value="Transplantado">Transplantado </option>
						<option value="Obito">Obito </option>
					</select>
				</div>
				<div>
					<label>
						Número FNR
						<input type="text" id="numero frn" name="numero frn">
					</label>
				</div>
				<div>
					<label> <input type="checkbox">Paciente vigente </label>
				</div>
				<div>
					<label>
						Primer diálisis
						<input type="date" id="primer dialiis" name="primer dialiis">
					</label>
				</div>
				<div>
					<fieldset>
						<legend>Grupo sanguineo</legend>
						<fieldset>
							<legend>Tipo</legend>
							<label><input type="radio" name="gender">A</label>
							<label><input type="radio" name="gender">B</label>
							<label><input type="radio" name="gender">AB</label>
							<label><input type="radio" name="gender">O</label>
						</fieldset>
						<fieldset>
							<legend>Rh</legend>
							<label><input type="radio" name="Rh">+</label>
							<label><input type="radio" name="Rh">-</label>
						</fieldset>
				</div>
				<div>
				</div>
				<label>
					Altura (m)
					<input type="text" id="altura (m)" name="altura (m)">
				</label>
				</div>
				<div>
					<label> <input type="checkbox">HTA</label>
					<label> <input type="checkbox">Alérgico</label>
					<label> <input type="checkbox">Diabético</label>
					<label> <input type="checkbox">Habilitar lavado capilar</label>
	
				</div>
				<div>
					<label for="country">Tipo de Puesto</label>
					<select name="country" id="country">
						<option value="Normal">Normal</option>
						<option value="HVC+">HVC+</option>
					</select>
				</div>
		</fieldset>
		<button>Guardar</button>
		<button>Cancelar</button>
	</form>
</div>


<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}