{% from 'macros.html' import render_btn_pac_list %}

{% extends '_base_layout_admin.html' %}

{% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<div class="sections">
	<a href="{{ url_for('pacientes_indicaciones') }}" class="button"><i class="fas fa-user-md"></i><span class="md-none">&nbsp;&nbsp; Indicaciones Médicas</span></a>
	<a href="{{ url_for('pacientes_evolucion') }}" class="button"><i class="fas fa-chart-bar"></i><span class="md-none">&nbsp;&nbsp; Gráficos de Evolución</span></a>
</div>

<h1>Pacientes</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
	<a href="{{ url_for('pacientes_agregar') }}" class="button"><i class="fas fa-user-plus"></i><span class="md-none">&nbsp;&nbsp; Agregar paciente</span></a>

	<div class="searchBox">
		<form>
			<select name="filtrar">
				<option>Filtrar</option>
			</select>
    	<input name="Nombre o CI" placeholder="Nombre o CI">
    	<button>Buscar</button>
		</form>
	</div>

	<table class="data-table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th class="md-none">CI</th>
				<th class="md-none">Número FNR</th>
				<th class="md-none">Médico</th>
				<th class="lg-none">Enfermero</th>
				<th>Teléfono</th>
				<th class="lg-none">Email</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			{% for paciente in pacientes %}
			<tr>
				<td>{{ paciente.persona.nombres }} {{ paciente.persona.apellidos }}</td>
				<td class="md-none">{{ paciente.persona.ci }}</td>
				<td class="md-none">{{ paciente.numero_fnr }}</td>
				<td class="md-none">{{ paciente.doctor.usuario.persona.nombres }} {{ paciente.doctor.usuario.persona.apellidos }}</td>
				<td class="lg-none">{{ paciente.enfermero.usuario.persona.nombres }} {{ paciente.enfermero.usuario.persona.apellidos }}</td>
				<td>{{ paciente.persona.telefono1 }}</td>
				<td class="lg-none">{{ paciente.persona.email }}</td>
				<td class="nowrap">
					<a href="{{ url_for('pacientes_ver', paciente_id = paciente.id) }}" class="button" title="Ver más"><i class="fa fa-address-card"></i><span class="xl-none">&nbsp;&nbsp;Ver más</span></a>
			   	<a href="{{ url_for('pacientes_editar', paciente_id = paciente.id) }}" class="button" title="Editar"><i class="fa fa-user-edit"></i><span class="xl-none">&nbsp;&nbsp;Editar</span></a>
			    <a href="{{ url_for('pacientes') }}" class="button" title="Deshabilitar"><i class="fa fa-user-times"></i><span class="xl-none">&nbsp;&nbsp;Deshabilitar</span></a>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

	<p class="center">Pacientes totales:  {{ pacientes.count() }}</p>
</div>


<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}
