{% extends '_base_layout_admin.html' %}

{% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Pacientes</h1>

<div class="container">
	<a href="{{ url_for('pacientes_agregar') }}" class="button"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Agregar paciente</a>

	<div class="container">
			<a href="{{ url_for('Indicaciones-Medicas') }}" class="button"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Indicaciones Medicas</a>
			<div.b {
				text-align: left;
			  }		
	<div class="container">
			<a href="{{ url_for('Graficos de Evolucion') }}" class="button"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Graficos de Evolucion</a>
	</div>

	<div class=<"button">
		<form>
			<select name="filtrar">
				<option>filtrar</option>
			</select>

			<class="button">
				<label>
			    	<input name="Nombre o CI" placeholder="Nombre o CI">
			    	<button>Buscar</button>
			    </label>
		</form>
	</div>

<table class="data-table">
	<tr>
		<th>Nombre</th>
		<th>CI</th>
		<th>Número FNR</th>
		<th>Médico</th>
		<th>Vacío</th>
	</tr>
	    <td>Pérez Juan</td>
	    <td>12345678</td>
    	<td>123456</td>
    	<td>Pereyra Delia</td>
    	<td>
	    	<div class="container">
		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="fal fa-plus"></i>Ver más</a>

		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="fal fa-user-edit"></i>Editar</a>
				
		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="far fa-user-times"></i>Deshabilitar</a>
		   </div>
		</td>
	</tr>
	<tr>
	    <td>Fernández Leopoldo</td>
	    <td>23456789</td>
    	<td>234567</td>
    	<td>Pereyra Delia</td>
    	<td>
	    	<div class="container">
		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="fal fa-plus"></i>Ver más</a>

		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="fal fa-user-edit"></i>Editar</a>
				
		    	<a href="{{ url_for('pacientes') }}" class="button"><i class="far fa-user-times"></i>Deshabilitar</a>
		   </div>
		</td>
	</tr>
</table>

<div class="pagination">
	<a href="#">&laquo;</a>
	<a href="#">1</a>
	<a class="active" href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">&raquo;</a>
		
</div>



<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}