{% from 'macros.html' import render_btn_pac_list %}

{% extends '_base_layout_admin.html' %}

{% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<div class="sections">
	<a href="" class="button"><i class="fas fa-user-md"></i><span class="md-none">&nbsp;&nbsp; Administrador de sesiones</span></a>
</div>

<h1>Sesiones</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
	<a href="" class="button"><i class="fas fa-user-plus"></i><span class="md-none">&nbsp;&nbsp; Agregar paciente</span></a>

	<div class="Nueva sesión">
		<form>
			<select name="filtrar">
				<option>Filtrar</option>
			</select>
    	<input name="Nombre del paciente" placeholder="Nombre del paciente">
    	<button>Buscar</button>
		</form>
	</div>

	<table class="data-table">
		<thead>
			<tr>
				<th>Fecha</th>
				<th class="md-none">Paciente</th>
				<th class="md-none">Turno</th>
				<th class="md-none">Sala</th>
				<th class="md-none">Puesto</th>
				<th class="md-none">Finalizado</th>
				<th class="md-none">Enviado a FNR</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>28/03/19</td>
				<td class="md-none">Juan Pérez</td>
				<td class="md-none">Matutino</td>
				<td class="md-none">A</td>
				<td class="md-none">1</td>
				<td class="md-none">as</td>
				<td class="md-none">af</td>
				<td class="nowrap">
					<a href="" class="button" title="Ver más"><i class="fa fa-address-card"></i><span class="xl-none">&nbsp;&nbsp;Ver más</span></a>
			   	<a href="" class="button" title="Editar"><i class="fa fa-user-edit"></i><span class="xl-none">&nbsp;&nbsp;Editar</span></a>
			    <a href="" class="button" title="Deshabilitar"><i class="fa fa-user-times"></i><span class="xl-none">&nbsp;&nbsp;Deshabilitar</span></a>
				</td>
			</tr>
		</tbody>
	</table>

	<p class="center">Total de sesiones: </p>
</div>


<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}
