{% extends '_base_layout_admin.html' %} {% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Usuarios</h1>

<div class="container">
	<a href="{{ url_for('usuarios_agregar') }}" class="button"><i class="fas fa-user-plus"></i><span class="md-none">&nbsp;&nbsp; Agregar usuario</span></a>

	<div class="searchBox">
		<form>
			<select name="filtrar">
				<option>Filtrar</option>
			</select>
    	<input name="Nombre o CI" placeholder="Nombre o CI">
    	<button>Buscar</button>
		</form>
	</div>

	<table class="data-table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th class="md-none">CI</th>
				<th>Tipo de usuario</th>
				<th class="md-none">Teléfono</th>
				<th class="lg-none">Email</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			{% for usuario in usuarios %}
			<tr>
				<td>{{ usuario.persona.nombres }} {{ usuario.persona.apellidos }}</td>
				<td class="md-none">{{ usuario.persona.ci }}</td>
				<td>{{ usuario.rol[0]|upper}}{{usuario.rol[1:] }}</td>
				<td class="md-none">{{ usuario.persona.telefono1 }}</td>
				<td class="lg-none">{{ usuario.persona.email }}</td>
				<td class="nowrap">
					<a href="" class="button" title="Ver más"><i class="fa fa-address-card"></i><span class="xl-none">&nbsp;&nbsp;Ver más</span></a>
			   	<a href="" class="button" title="Editar"><i class="fa fa-user-edit"></i><span class="xl-none">&nbsp;&nbsp;Editar</span></a>
			    <a href="{{ url_for('usuarios') }}" class="button" title="Deshabilitar"><i class="fa fa-user-times"></i><span class="xl-none">&nbsp;&nbsp;Deshabilitar</span></a>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

  <p class="center">Usuarios totales:  {{ usuarios.count() }}</p>
</div>

<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}
