{% extends '_base_layout_admin.html' %} {% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Usuarios</h1>

<div class="container">
	<a href="{{ url_for('usuarios_agregar') }}" class="button"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Agregar usuario</a>

	<div class="searchBox">
		<form>
			<select name="filtrar">
				<option>Filtrar</option>
			</select>
    	<input name="Nombre o CI" placeholder="Nombre o CI">
    	<button>Buscar</button>
		</form>
	</div>

	<table class="data-table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>CI</th>
				<th>Tipo de usuario</th>
				<th>Teléfono</th>
				<th>Email</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			{% for usuario in usuarios %}
			<tr>
				<td>{{ usuario.persona.nombres }} {{ usuario.persona.apellidos }}</td>
				<td>{{ usuario.persona.ci }}</td>
				<td>{{ usuario.rol[0]|upper}}{{usuario.rol[1:] }}</td>
				<td>{{ usuario.persona.telefono1 }}</td>
				<td>{{ usuario.persona.email }}</td>
				<td>
					<a href="" class="button" ><i class="fa fa-address-card"></i></i>&nbsp;&nbsp;Ver más</a>
			   	<a href="" class="button"><i class="fa fa-user-edit"></i>&nbsp;&nbsp;Editar</a>
			    <a href="{{ url_for('usuarios') }}" class="button"><i class="fa fa-user-times"></i>&nbsp;&nbsp;Deshabilitar</a>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

  <p class="center">Usuarios totales:  {{ usuarios.count() }}</p>
</div>

<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}
