{% extends '_base_layout_admin.html' %} {% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->

<h1>Usuarios</h1>

<div class="container">

    <a href="{{ url_for('usuarios_agregar') }}" class="button"><i class="fas fa-user-plus"></i>&nbsp;&nbsp; Agregar usuario</a>

    <class="button">
        <form>
            <select name="filtrar">
                <option>Filtrar</option>
                <option value="Administrativos">Administrativos</option>
                <option value="Enfermeros">Enfermeros</option>
                <option value="Nurses">Nurses</option>
                <option value="Doctores">Doctores</option>
            </select>


            <class="button">
                <label>
                    <input name="Nombre o CI" placeholder="Nombre o CI">
                    <button>Buscar</button>
            </label>
        </form>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            
            td,
            th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
        </style>

        <style>
            .button {
                background-color: #d3e4ec;
                border: none;
                color: black;
                padding: 8px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
                margin: 4px 2px;
                cursor: pointer;
            }
            
            .button1 {
                border-radius: 8px;
            }
            
            .button2 {
                border-radius: 8px;
            }
            
            .button3 {
                border-radius: 8px;
            }
        </style>
        <table>
            <tr>
                <th>Nombre</th>
                <th>CI</th>
                <th>Tipo de Usuario</th>
                <th>Teléfono</th>
                <th> </th>
            </tr>
            <tr>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>

                    <div class="container">
                        <a href="{{ url_for('Ver más') }}" class="button"><i class="fal fa-plus"></i>&nbsp;&nbsp; Ver más</a>

                        <a href="{{ url_for('Editar') }}" class="button"><i class="fal fa-user-edit"></i>&nbsp;&nbsp; Editar</a>

                        <a href="{{ url_for('Deshabilitar') }}" class="button"><i class="far fa-user-times"></i>&nbsp;&nbsp; Deshabilitar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>
                    <div class="container">
                        <a href="{{ url_for('Ver más') }}" class="button"><i class="fal fa-plus"></i>&nbsp;&nbsp; Ver más</a>

                        <a href="{{ url_for('Editar') }}" class="button"><i class="fal fa-user-edit"></i>&nbsp;&nbsp; Editar</a>

                        <a href="{{ url_for('Deshabilitar') }}" class="button"><i class="far fa-user-times"></i>&nbsp;&nbsp; Deshabilitar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>
                    <div class="container">
                        <a href="{{ url_for('Ver más') }}" class="button"><i class="fal fa-plus"></i>&nbsp;&nbsp; Ver más</a>

                        <a href="{{ url_for('Editar') }}" class="button"><i class="fal fa-user-edit"></i>&nbsp;&nbsp; Editar</a>

                        <a href="{{ url_for('Deshabilitar') }}" class="button"><i class="far fa-user-times"></i>&nbsp;&nbsp; Deshabilitar</a>
                    </div>
                </td>
            </tr>

        </table>
</div>

<style>
    .center {
        text-align: center;
    }
    
    .pagination {
        display: inline-block;
    }
    
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }
    
    .pagination a.active {
        background-color: #d3e4ec;
        color: white;
        border: 1px solid #d3e4ec;
    }
    
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>

<div>
    <div class="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>



<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}