{% from 'macros.html' import render_field %}

{% extends '_base_layout_admin.html' %}

{% block contenido_de_la_seccion %}
<!-- ACA EMPIEZA EL CONTENIDO DE LA SECCION -->


<h1>Agregar usuario</h1>

<div class="container">
	<form class="form" action="" methods= ['GET','POST'] >
		{{ form.hidden_tag }}
		<fieldset>
			{% for field in form %}
				{{ render_field(field) }}
			{% endfor %}
		</fieldset>
		<a href="{{ url_for('usuarios') }}" class="button"><i class="fa fa-save"></i>&nbsp;&nbsp; Guardar</a>
		<a href="" class="button" type="reset"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Cancelar</a>
		<a href="{{ url_for('usuarios') }}" class="button" type="reset"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Atrás</a>
		
	</form>
</div>


<!-- ACA TERMINA EL CONTENIDO DE LA SECCION-->
{% endblock %}