@-o-viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

@-ms-viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}

/* @font-face {
    font-family: 'PT Sans';
    src: url('pt_sans-web-bold-webfont.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
			url('pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('pt_sans-web-bold-webfont.woff2') format('woff2'),
			url('pt_sans-web-bold-webfont.woff') format('woff'),
			url('pt_sans-web-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('pt_sans-web-bolditalic-webfont.eot');
    src: local('PT Sans Italic'), local('PTSans-Italic'),
			url('pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
			url('pt_sans-web-bolditalic-webfont.woff') format('woff'),
			url('pt_sans-web-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('pt_sans-web-italic-webfont.eot');
    src: url('pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('pt_sans-web-italic-webfont.woff') format('woff'),
         url('pt_sans-web-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('pt_sans-web-regular-webfont.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
			url('pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('pt_sans-web-regular-webfont.woff2') format('woff2'),
			url('pt_sans-web-regular-webfont.woff') format('woff'),
			url('pt_sans-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/pt-sans-narrow-webfont.eot');
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),url(),url(),
			url('../fonts/pt-sans-narrow-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/pt-sans-narrow-webfont.woff2') format('woff2'),
			url('../fonts/pt-sans-narrow-webfont.woff') format('woff'),
			url('../fonts/pt-sans-narrow-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

/* Seteos iniciales */
body,h1,h2,h3,h4,h5,h6,img,ul,ol,li,p,form,span,a,main,header,nav,section {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-size: 62.5%; /* para manejar los tamaños en unidad rem como si fuera en px/10 */
}

body {
	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 1.4rem;
	line-height: 180%;
	background: #FFF;
	color: #6d6e70;
}

a,
a:hover {
	color: rgb(42, 98, 172);
	text-decoration: none;
}

fieldset {
	border: 1px solid #DDD;
}

.center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

/* #region Pagina de login */

.login-link-balanza {
	text-align: right;
	padding: 2rem 3rem 0 0;

	a {
		color: rgb(66, 123, 197);
		font-size: 1.6rem;
		margin: 1rem 0 2rem;
		border-radius: .5rem;
		padding: .7rem 2rem .8rem;
	}
	a:hover {
		background: rgb(66, 123, 197);
		color: #fff;
	}
	i {
		margin-right: 3rem;
	}
}

.login-container {
	border: 1px solid #999;
	display: flex;
	margin: 8% auto 0 auto;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 1rem;

	div {
		flex: 1 1 0;
		padding: 8rem 2rem;
		text-align: center;
	}
	.logo {
		background: repeating-linear-gradient(
	      45deg,
	      rgba(0, 0, 0, 0) 14px,
	      rgba(0, 0, 0, 0) 15px,
	      rgba(211, 232, 253, 1) 14px,
	      rgba(211, 232, 253, 1) 17px
	    );
		border-right: 1px dotted #bbb;
		vertical-align: center;
		border-radius: 1rem 0 0 1rem;

		img {
			margin-top: 1rem;
			width: 24rem;
		}
	}
	h1 {
		color: #4657b4;
		font-size: 4rem;
		letter-spacing: -.1rem;
		margin-bottom: 3rem;
	}
	input[type='text'],
	input[type='password'] {
		font-size: 1.4rem;
		border: 1px solid #ccc;
		border-radius: .5rem;
		padding: .7rem .8rem .9rem 2.8rem;
		margin-bottom: .8rem;
		width: 18rem;
	}
	input[type='text'] {
		background: url('../svgs/solid/user.svg') .8rem center no-repeat;
		background-size: 1.3rem 1.3rem;
	}
	input[type='password'] {
		background: url('../svgs/solid/lock.svg') .8rem center no-repeat;
		background-size: 1.3rem 1.3rem;
	}
	input[type='submit'] {
		color: #333;
		font-size: 1.4rem;
		margin: 1rem 0 2rem;
		border-radius: 2rem;
		padding: .7rem 2rem .8rem;
		width: 17rem;
		cursor: pointer;
	}
	.errors li {
		list-style: none;
		color: rgb(152,27,27);
	}
}

.login-messages {
	margin: 3rem 0;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;

	.success {
		color: rgb(25,133,49);
	}

	.info {
		color: rgb(193,121,13);
	}

	.error,
	.message {
		color: rgb(152,27,27);
	}
}

/* #endregion Pagina de login */

/* #region Admin comun */

header {
	position: fixed;
	display: flex;
	color: #FFF;
	width: 100%;

	.logo {
		flex: 1 1 20%;
		background: #347ca4;
		text-align: center;
		min-width: 20rem;
		padding: 1.8rem 0 1rem 0;

		img.md-none {
			max-width: 15rem;
		}
		img.mini {
			display: none;
		}
	}
	.user-data {
		flex: 1 1 80%;
		background: #3c8dbc;
		font-size: 1.6rem;
		text-align: right;
		padding: 1.8rem 3rem 0;

		button {
			color: #333;
			font-size: 1.4rem;
			border-radius: 2rem;
			padding: .7rem 2rem .8rem;
			margin-left: 3rem;
			cursor: pointer;
		}
	}
}

.container {
	display: flex;
}

aside {
	flex: 1 1 20%;
	background: #222d31;
	color: rgba(255, 255, 255, .8);
	font-size: 1.5rem;
	min-height: 100vh;
	min-width: 20rem;

 	nav {
		padding: 2.6rem 0 2.6;
		margin: 10rem 0 4rem;
	}
	li {
		list-style: none;
	}
	a {
		color: rgba(255, 255, 255, .8);
		display: block;
		padding: .5rem 1.3rem .7rem 1.3rem;

		.icon {
			display: inline-block;
			text-align: center;
			width: 5rem;
		}
	}
	.active a {
		color: #fff;
		font-weight: bold;
		border-left: .4rem solid #3d8ebd;
		padding-left: .9rem;
		white-space: nowrap;
	}
	a:hover {
		background: #2c3b42;
		color: #fff;
	}
}

main {
	flex: 1 1 80%;
	background: #eceff4;
	padding: 10.5rem 3rem 3rem;

	h1 {
		margin-bottom: 2rem;
	}
	.container {
		display: block;
		background: #fff;
		border-top: .3rem solid #d2d5de;
		padding: 1rem;
	}
}

.sections {
	float: right;
	margin-top: -1rem;

	.button {
		padding-top: .5rem;
		padding-bottom: .6rem;
		margin-left: 1rem;
	}
}

.button, .form-bts-footer .button {
	display: inline-block;
	color: rgb(42, 98, 172);;
	border: 1px solid #d2d5de;
	border-radius: .5rem;
	background: #fff;
	padding: .7rem 2rem .8rem;
}

.button:hover, .form-bts-footer .button:hover {
	background: rgb(66, 123, 197);
	border: 1px solid rgb(66, 123, 197);
	color: #fff;
	cursor: pointer;
}

.searchBox {
	float: right;
}

.data-table {
	border-collapse: collapse;
	margin: 1rem 0 2rem;
	width: 100%;

	td, th {
		border: 1px solid #DDD;
		text-align: center;
		padding: 8px;
	}
}

.form-bts-footer {
	padding: 1rem;
	text-align: center;

	.button {
		color: rgb(42, 98, 172);
		margin: 1rem;
	}
}

.pagination {
	a {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition:background-color .3s;
	}

	a.active {
		background-color: dodgerblue;
		color: white;
	}

	a.hover:not(.active) {
		background-color: #ddd;
	}
}

#mainForm {
	>fieldset {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		width: 100%;

		>div {
			display: inline-block;
			flex: 0 1 0;
			margin: 0;
			width: 40%;
		}
	}
	h2 {
		flex: 1;
		font-size: 2.3rem;
		font-weight: normal;
		border-bottom: 1px solid #f4f4f4;
		padding: 1rem 0 .5rem;
		margin-bottom: 1rem;
		width: 100%;
	}
	label {
		display: inline-block;
		font-weight: bold;
		margin: .5rem 0 0 0;
	}
	input,
	select,
	textarea {
		display: block;
		box-sizing: border-box;
		font-size: 1.5rem;
		color: #666;
		width: 100%;
	}
	input[type='checkbox'],
	input[type='radio'] {
		display: inline-block;
		width: inherit;
	}
}

/* #endregion Admin comin */

@media (max-width: 768px) {
	.md-none {
		display: none;
	}
	.login-container {
		flex-direction: row;
	}
	header {
		.logo {
			min-width: auto;
			width: 6rem;

			img.mini {
				display: inline;
				margin: 0 2.3rem;
				width: 3rem;
			}
		}
		.user-data button {
			margin-left: 1.5rem;
		}
	}
	aside {
		min-width: auto;
		width: 2rem;
	}
}

@media (max-width: 992px) {
	.lg-none {
		display: none;
	}
}

@media (max-width: 1200px) {
	.xl-none {
		display: none;
	}
}
